<div class="row">
    <div class="col-8 mx-auto">
        <h2><i class="far fa-calendar-alt fa-1x"> </i>      <%= @event[:date] %></h2>
        <h1><%=@event[:title] %> </h1>
        <p> <%=@event[:description] %> </p>
        <br>
        <div class="media">
            <i class="fas fa-thumbs-up fa-3x"></i>
            <div class="media-body">
                <h5 class="mt-0">Brian</h5>
                    Wouldn't miss it!
            </div>
        </div>
        <div class="media">
            <i class="fas fa-thumbs-down fa-3x mt-5"></i>
            <div class="media-body">
                <h5 class="mt-5">Ben</h5>
                    I don't like having fun!
            </div>
        </div>
        <br>
        <br>
        <h4>RSVPs</h4>
     </div>
    <div class="col-4 mx-auto">
      <br>
      <br>
      <h4>When?</h4>
      <br>
      <p> <%=@event[:date] %> </p>

      <h4>Where?</h4>
      <br>
      <p> <%=@event[:location] %> </p>
      <br>
      <h4>How many guests so far?</h4>
    </div>